@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

:root {
	--text-color: #333;
	--fret-text-color: black;
	--bg-color: white;
	--side-bg-color: #f8ecc8;
	--note-color-default: #000000bb;
	--note-color-c:  #ff0000bb;
	--note-color-cs: #ff8000bb;
	--note-color-d:  #ffff00bb;
	--note-color-ds: #80ff00bb;
	--note-color-e:  #00ff00bb;
	--note-color-f:  #00ff80bb;
	--note-color-fs: #00ffffbb;
	--note-color-g:  #0080ffbb;
	--note-color-gs: #0000ffbb;
	--note-color-a:  #8000ffbb;
	--note-color-as: #ff00ffbb;
	--note-color-b:  #ff0080bb;
	--drawer-padding: 15px;
}

@media (prefers-color-scheme: dark) {
	:root {
		--text-color: white;
		--fret-text-color: white;
		--bg-color: #333;
		--side-bg-color: #93b7be;
	}
}

html {
	background-color: var(--bg-color);
	color: var(--text-color);
}

body {
	display: flex;
	gap: 5px;
	min-height: 100vh;
}

/* drawer options */

.options-all-btns {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.options-all-btns>div {
	display: flex;
	gap: 5px;
	flex-wrap: wrap;
}
.options-all-btns button {
	flex: 1;
}

/* side drawer */
aside.drawer {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: var(--drawer-padding);
	background-color: var(--side-bg-color);
	width: 0;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 2;
	transition: width 0.2s ease;
}
aside.drawer:not(.closed) {
	width: 30vw;
	padding: var(--drawer-padding);
}

.drawer-button {
	cursor: pointer;
}

aside.drawer .drawer-button {
	position: absolute;
	top: var(--drawer-padding);
	right: var(--drawer-padding);
}
main .drawer-button {
	position: fixed;
	top: var(--drawer-padding);
	left: var(--drawer-padding);
}

.tab-content:not(.is-active) {
	display: none;
}

.chords-selection,
.scale-selection{
	display: flex;
	gap: 5px;
	flex-direction: column;
}

.options-group {
	display: flex;
	gap: 5px;
	flex-wrap: wrap;
}

/* main options */
.main-options-container {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	gap: 10px;
	margin-bottom: 30px;
}

/* piano keys */
.piano-container {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	gap: 3px;
}

.piano-modes-container {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.piano-modes-container label {
	display: flex;
	align-items: center;
}

.key-white, .key-black {
	width: 30px;
	height: 100px;
	border: none;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	box-shadow: 0 2px 3px #55555599;
	cursor: pointer;
}
.key-white:hover,
.key-black:hover {
	transform: scale(1.1);
}

.key-black {
	padding: 10px;
	background-color: black;
	color: white;
	font-size: 10px;
}

.key-white {
	padding: 10px;
	background-color: white;
	color: black;
	font-size: 14px;
}

/* chords buttons */
.chord-button {
	padding: 10px;
}
.chord-button.selected {
	box-shadow: 0 2px 5px magenta;
}

/* Fret board */

.fret-board-container {
	padding: 30px;
}

/* table */
.fret-board {
	width: 100%;
	border-collapse: collapse;
}

.fret-board td {
	position: relative;
	height: 30px;
	width: 70px;
}
.fret-board tr:not(.noborder) td {
	border-top: 1px solid lightgrey;
	border-bottom: 1px solid lightgrey;
	border-left: 1px solid grey;
	border-right: 1px solid darkgrey;
	background-color: rgb(114, 43, 54);
}
.fret-board tr:not(.noborder) td:last-child {
	border-right: transparent;
}
.fret-board tr:not(.noborder) td:first-child {
	border-left-width: 4px;
	border-left-color: black;
}

.fret-note {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 15px;
	height: 25px;
	width: 25px;
	position: absolute;
	top: -15px;
	left: -13px;
	line-height: 1;
	font-weight: bold;
	font-size: 15px;
	background-color: var(--note-color-default);
	color: white;
}

.fret-note[data-note='C'] {
	background-color: var(--note-color-c);
}
.fret-note[data-note='Cs'] {
	background-color: var(--note-color-cs);
}
.fret-note[data-note='D'] {
	background-color: var(--note-color-d);
}
.fret-note[data-note='Ds'] {
	background-color: var(--note-color-ds);
}
.fret-note[data-note='E'] {
	background-color: var(--note-color-e);
}
.fret-note[data-note='F'] {
	background-color: var(--note-color-f);
}
.fret-note[data-note='Fs'] {
	background-color: var(--note-color-fs);
}
.fret-note[data-note='G'] {
	background-color: var(--note-color-g);
}
.fret-note[data-note='Gs'] {
	background-color: var(--note-color-gs);
}
.fret-note[data-note='A'] {
	background-color: var(--note-color-a);
}
.fret-note[data-note='As'] {
	background-color: var(--note-color-as);
}
.fret-note[data-note='B'] {
	background-color: var(--note-color-b);
}

.fret-board:not(.editing) .fret-note:not(.selected).hidden {
	display: none;
}

.fret-board.editing .fret-note {
	opacity: 0.6;
	cursor: pointer;
}

.fret-board.editing .fret-note:hover {
	border: 2px solid lime;
	box-shadow: 0 0 3px green;
}

.fret-board.editing .fret-note.selected {
	opacity: 1;
	border: 2px solid lime;
}


.fret-number {
	color: var(--fret-text-color);
}

.annotation {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	background-color: black;
	width: 1.5em;
	height: 1.5em;
	border-radius: 50%;
	top: 0;
	left: -65%;
	font-size: 11px;
	font-weight: bold;
}

/* marks on the fret */
.fret-board tr:nth-child(3) td:nth-child(3)::after,
.fret-board tr:nth-child(3) td:nth-child(5)::after,
.fret-board tr:nth-child(3) td:nth-child(7)::after,
.fret-board tr:nth-child(3) td:nth-child(9)::after,
.fret-board tr:nth-child(3) td:nth-child(15)::after,
.fret-board tr:nth-child(3) td:nth-child(17)::after,
.fret-board tr:nth-child(3) td:nth-child(19)::after
{
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 20px;
	height: 20px;
	transform: translate(-50%, -50%);
	background-color: white;
	border-radius: 50%;
}

.fret-board tr:nth-child(2) td:nth-child(12)::after,
.fret-board tr:nth-child(4) td:nth-child(12)::after
{
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 20px;
	height: 20px;
	transform: translate(-50%, -50%);
	background-color: white;
	border-radius: 50%;
}
